*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

.search{
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}
.p-4 {
    justify-content: center;
    text-align: center;
}
.m-auto{
    width: 400px;
    max-width: 400px;
}
.form-control{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    gap: 30px;
    margin: 0 auto;
    width: 1200px;
    padding: 30px;
}
.list__item{
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}
.list__item:hover {
    background-color: aqua;
    box-shadow: 0 0 10px 5px gray;
}
#search-form{
    display: flex;
    width: 900px;
    margin: 0 auto;
}

