body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.img{
    width: 300px;
}

#list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
}

.list__item{
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}
.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 30px;
}